
.form__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
}

.card2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form1 {
    padding: 20px 30px ;
    width: 700px;
    flex-shrink: 0;
    background: #F4F5F7;
    padding-left: 50px;
    margin-top: 30px;
    border-radius: 15px;
}



.form__wrapper input {
    width: 450px;
    height: 40px;
    flex-shrink: 0;
    background: #EBECEF;
    border: none;
    margin-top: 8px;
    font-size: 15px;
    padding-left: 10px;
}

.form__wrapper button {
    width: 160px;
    height: 43px;
    flex-shrink: 0;
    background-color: #2F76E6;
    color: #fff;
    border: none;
    margin-top: 50px;
    font-family: Roboto;
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s
}
.form__wrapper button:hover{
    background-color: white;
    color: #2F76E6;
    border: 1px solid #2F76E6;
    transition: 0.5s
}
.form__wrapper input {
    width: 600px;
    height: 50px;
    flex-shrink: 0;
    background: #EBECEF;
    border: none;
    margin-top: 8px;
    font-size: 15px;
    padding-left: 10px;
}
.form__wrapper label {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: block;
    margin-top: 25px;
    font-size: 18px;
}
