.header {
    box-shadow:  5px 5px 10px #eaeef2,
    -5px -5px 10px #ffffff;
    margin: 0 auto;
    padding: 8px;
    margin-bottom: 50px;
    background-color: white;
}

.header__nav > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__nav > ul > li > a {
    text-transform: uppercase;
    color: #07143f;
    font-size: 17px;
    font-weight: 500;
}


