.teach_wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 1000px;
}
.teach_content{
    display: flex;
    align-items: center;
    justify-content:space-between;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.25);
    padding: 15px;
    padding-right: 5px;
    border-radius: 10px;
    width: 530px;
}
.teach_content p{
    color: chocolate;
    cursor: pointer;
}
.uqtuvchi{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.uqtuvchi button{
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    width: 160px;
    border-radius: 20px;
    font-size: 14px;
    background-color: #2f76e6;
    color: white;
    border: 2px solid #2f76e6;
    cursor: pointer;
    margin-right: -40px;
}
.uqtuvchi button:hover{
    -webkit-box-reflect: below 1px liner-gradient(transparent, #0005);
    box-shadow: 0 0 5px #2F76E6, 0 0 15px #2F76E6, 0 0 25px #2F76E6, 0 0 100px #2F76E6 ;
}
.miqdor{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.407);
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
}
.card h4{
    width: 45px;
    height: 30px;
    background-color: red;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}