.lids__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
.lids__top h2 {
    text-transform: uppercase;
    font-size: 21px;
    color: #07143f;
    font-weight: 700;
}
.lids__top a {
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 113px;
    height: 38px;
    background-color: #2F76E6;
    color: #fff;
    font-size: 15px;
    transition: 0.5s
}
.lids__grid {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.lids__users {
    padding: 10px;
    background: rgb(0,0,0, .07);
    width: 400px;
    height: 450px;
    /* overflow-y: scroll; */
}
.child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 8px;
    background-color: #2F76E6;
    border-radius: 5px;
}
.child h4 {
    color: #fff;
}
/* .child:hover {
    transform: scale(1.05);
    transition: 0.5s;
} */
.child .cta__icon:nth-of-type(1) {
    color: orange;
}
.child .cta__icon:nth-of-type(2) {
    color: rgb(255, 62, 62);
}
.child .child__cta {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.student__modal {
    display: none;  
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.518);
    padding: 200px 0 200px 500px;
}
.change__modal {
    background-color: #fff;
    width: 300px;
    position: relative;
    height: 300px;
    padding: 20px;
}
.change__modal button:nth-of-type(2) {
    top: 5px;
    right: 5px;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    color: white;
    size: 30px;
    font-weight: 600;
    border: none;
}
.student__modal__open {
    display: block;
}

